ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li {
	display: inline;
	margin: 5px;
}

header {
	color: aqua;
}

section {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	.block {
		background-color: gray;
	}
}
